.tmp
.sass-cache
.idea
*.iml
*.DS_Store
*.log
.project
.elasticbeanstalk/
dist/
_mergedAppWithConfig/
_merged/
node_modules/
bower_components/
dev/*/styles/core.css
docs/
dev/_generated/
*css.map
dev/_shared/images/svg_*
__*
